    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Software Consulting, XP, and Graphic Design</h2>              
              <br/>
                <p>Our mission is building the right thing for our customers, but also building the thing right. </p>
                <p>In order to do that, we are pragmatic and choose the most suitable practices for every business case, without compromising the quality of our deliverables.</p>
                <p>If you want to know more about our services feel free to contact us at: <a href="mailto:info@avpsoftware.co.uk">info@avpsoftware.co.uk</a></p>
                <br/>
              </div>
        </div>
    </section>
